


*{
  font-family: 'Playfair Display', serif;
    box-sizing: border-box;
}

#is_visible{
  display: block;
}

#is_hidden{
  display: none;
}

html, body {
            height: 100%;
            margin: 0;
            background-color: black;
            /* background-color: #012839; */
            align-items: center;
            text-align: center;
            padding: 0px;
            color: white;
        }



        /* =========================== BUTTONS ==================================== */




.button {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  font-size: 30px;
  display: inline-block;
  position: relative;
  text-align: center;
  color: #00c7ec;
  border: 1px solid #00c7ec;
  border-radius: 5px;
  line-height: 3em;
  padding-left: 5em;
  padding-right: 5em;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.button:hover {
  color: white;
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5);
  background-color: #00c7ec;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.button:hover:before {
  -webkit-animation: shine 0.5s 0s linear;
  -moz-animation: shine 0.5s 0s linear;
  animation: shine 0.5s 0s linear;
}
.button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
.button:before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 15px 3px white;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@-webkit-keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
@-moz-keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}



        /* ===================================================== */

.full-page-container{
    min-height: 100%;
    padding: 0px;
    /* display: flex; */
}

.header-bar{
padding: 10px;
background-color: #0c0c0c;
/* background-color: #084864; */
color: 	white;
}

.login-page{
padding: 25px;
}

.sign-up{
padding: 25px;

}

input{
  display: block;
  padding: 10px;

  margin: auto;
  margin-top: 20px;

}

/* #signup_name{
  margin: auto;

}

#signup_username{
  margin: auto;

} */

.orientate{
padding: 25px;
}

.gameplay{
padding: 25px;
display: flex;
}

.scoreboard{
padding: 25px;
}

.dropdown-menu{
padding: 25px;
}

.compass-point {

margin: auto;
 vertical-align: middle;

}

.pointer-section{

  display: flex;
}

.counter-container{

  width: 100vw;
   height: 100vh;
   display: flex;
}

.count-in-timer{

  margin: auto;
  animation: pulse 4s ease-out infinite;
}

@keyframes pulse{
     0% {
       opacity: 0.4;
       transform: scale(1);
     }
     50% {
    opacity: 0;
    transform: scale(2);
    }
     100% {
        opacity: 0;
     }

}



#svg_1 {

   transform-origin: 50% 50%;
}

.compass{

margin: auto;

}

.logo-cont {

display: flex;

}

.logo{
padding-top: 30px;
margin:auto;
width: 10em;
}
