#is_visible{
  display: block;
}

#is_hidden{
  display: none;
}

.full-page-container{

    width: 10rem;
    height: 100%;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}

.login-page{

}

.sign-up{

}

.orientate{

}

.gameplay{

}

.scoreboard{

}

.dropdown-menu{

}
