*{
  font-family: 'Playfair Display', serif;
    box-sizing: border-box;

}

#is_visible{
  display: block;
}

#is_hidden{
  display: none;
}

#orientate-map{
  height: 500px;
}

html, body {
            height: 100%;
            margin: 0;
            padding: 0px;
        }

.full-page-container{
    min-height: 100%;
    background-color: grey;
    padding: 0px;
}

.login-page{
padding: 25px;
}

.sign-up{
padding: 25px;
}

.orientate{
padding: 25px;
}

.gameplay{
padding: 25px;
}

.scoreboard{
padding: 25px;
}

.dropdown-menu{
padding: 25px;
}

.compass-point {

margin: auto;
 vertical-align: middle;

}
